* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  background-color: bisque;
}
article {
  width: 90%;
  max-width: 650px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #615b5b;
  display: flex;
  flex-direction: column;
  background-color: rgb(28, 26, 26);
  gap: 10px;
  border: 1px solid white;
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.description {
  display: flex;
  flex-direction: row;
  gap: 1em;
  height: fit-content;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
figure {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: left;
  border: 1.5px solid white;
}
.description > p {
  max-height: 100%;
  width: 250px;
  font-family: "Courier New", Courier, monospace;
  font-size: clamp(0.9rem, 3vw, 1.2rem);
}
h3 {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
}
ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
a {
  text-decoration: none;
  color: white;
}
a,
li {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
  color: #756e6e;
}
a:hover,
li:hover {
  color: aqua;
}
article > p {
  color: aqua;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
